<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content id="main-content">
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="updateFilteredFavorites()" placeholder="Buscar equipos favoritos"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let club of filteredFavorites">
        <ion-card>
          <img [src]="club.image" alt="Club Logo">

          <ion-card-content>
            <ion-card-title>
              <!-- Agrega un enlace al nombre del equipo que navega a la vista de plantillas -->
              <a (click)="goToTeam(club.id)">{{ club.name }}</a>
            </ion-card-title>
            <!-- Botón de favoritos -->
            <ion-button fill="clear" (click)="removeFromFavorites(club)">
              <ion-icon name="heart"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
