<ion-content class="example-content">
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="updateFilteredTeams()"
    placeholder="Buscar equipos"
  ></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col
        size="6"
        size-md="6"
        size-lg="4"
        *ngFor="let club of filteredTeams"
      >
        <ion-card>
          <img [src]="club.image" alt="Club Logo" />

          <ion-card-content>
            <ion-card-title>
              <!-- Agrega un enlace al nombre del equipo que navega a la vista de plantillas -->
              <a (click)="goToTeam(club.id)">{{ club.name }}</a>
            </ion-card-title>
            <!-- Botón de favoritos -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
